html {
    font-size: 62.5%;
}

// no font-family, caso o PCU nao tenha uma determinada fonte, ele passa para a próxima
body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: $m-size;
    background: $dark-blue;
}

button {
    cursor: pointer;
}

button:disabled {
    cursor: default;
}
